@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.mask-star-2 {
  mask-image: url("./assets/img/star.svg");
}

.rating {
  position: relative;
  display: inline-flex;
}

.rating-half .rating-lg input:not(.rating-hidden) {
  width: 3rem;
}

/* .rating-lg input {
  height: 1.2rem;
  width: 1.2rem;
} */

.rating input {
  appearance: none;
}

.rating :where(input) {
  cursor: pointer;
  /* animation: rating-pop var; */
}

.mask-half-1 {
  mask-size: 100%;
  mask-position: left;
}

.mask-half-2 {
  mask-size: 100%;
  mask-position: right;
}

.mask {
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.rating input:focus-visible {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-0.125em);
}

.navbar {
  position: relative;
}
button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 20px;
}
.navbar .toggle {
  position: fixed;
  left: 30px;
  top: 40px;
  cursor: pointer;
  background: transparent;
  border: none;
}
.menu-nav {
  list-style: none;
  position: absolute;
  background: #fff;
  left: 0;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
  font-size: 18px;
  box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%),
    0 4px 6px -2px rgb(71 63 79 / 16%);
  transform: translateX(-100px);
  transition: transform ease-in-out 0.2s;
  /* transition: width ease 0.2s; */
}
.menu-nav.show-menu {
  width: 100%;
  transform: translateX(0px);
}
.menu-nav li a,
.menu-nav li span {
  display: block;
  padding: 1rem;
}
.log-in {
  color: #777;
  border-top: 1px solid #efecec;
  margin-top: 15px;
  font-size: 15px;
}
/* logout */
.logout {
  position: absolute;
  right: 30px;
  top: 40px;
  display: flex;
  gap: 2rem;
  font-size: 20px;
  color: #8a4baf;
}
